aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.3
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.1.0
autobahn==22.7.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
calfem-python==3.6.3
celluloid==0.2.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.1
chess==1.9.4
contourpy==1.0.5
cPython==0.0.6
cryptography==37.0.4
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
Django==4.1.3
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.0.0
fastjsonschema==2.16.1
fbs==1.1.8
fonttools==4.37.2
frozenlist==1.3.1
future==0.18.2
gevent==22.10.2
gmsh==4.10.5
graphviz==0.20.1
greenlet==2.0.1
h5py==3.7.0
hyperlink==21.0.0
idna==3.3
imageio==2.22.2
ipykernel==6.15.2
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
jsonschema==4.15.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter-server==1.18.1
jupyter-server-proxy==3.2.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
lxml==4.9.1
macholib==1.16.2
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
mistune==2.0.4
modulegraph==0.19.3
mpmath==1.2.1
msgpack==1.0.4
multidict==6.0.2
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.7
notebook==6.4.12
numpy==1.23.2
opencv-python==4.6.0.66
openpyxl==3.0.10
packaging==21.3
pandas==1.5.2
pandocfilters==1.5.0
parso==0.8.3
pefile==2022.5.30
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==4.21.12
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py2app==0.28.4
pycairo==1.23.0
pycparser==2.21
Pygments==2.13.0
PyGObject==3.42.2
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.12
pymongo==4.2.0
PyOpenGL==3.1.6
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.12.4
pyrsistent==0.18.1
pyserial==3.5
PySide2==5.15.2.1
PySide2extn==1.0.0
python-dateutil==2.8.2
pytz==2022.7
PyVTK==0.5.18
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
requests==2.28.1
scikit-fmm==2022.8.15
scikit-image==0.19.3
scipy==1.9.1
screen-brightness-control==0.18.0
Send2Trash==1.8.0
shiboken2==5.15.2.1
simpervisor==0.4
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
stack-data==0.5.0
sympy==1.11.1
tabulate==0.8.10
terminado==0.15.0
tifffile==2022.10.10
tinycss2==1.1.1
tornado==6.2
traitlets==5.3.0
txaio==22.2.1
urllib3==1.26.12
vedo==2021.0.6
visualpython==2.2.12
visvis==1.13.0
vpython==7.6.4
vtk==9.2.0rc2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.0
widgetsnbextension==4.0.3
wrapt==1.14.1
wslink==1.8.2
yarl==1.8.1
zerorpc==0.6.3
zope.event==4.5.0
zope.interface==5.5.1
